<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        <h2 th:text="${title}">Login Form</h2><br/>
        <form th:action="@{/login/}" method="get">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" th:value="${loginModel.username}"/><br/><br/>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" th:value="${loginModel.password}"/><br/><br/>
            <input type="submit" value="Login"/>
        </form>
    </body>